<div class="row">
  <div class="col-md-12">
      <!--Image-->
      <%= emojify(":point_left:")%> <%= link_to("back to posts", root_path) %>
      <hr>
      <img style="width:100%" src="http://vectorthree.com/ocr/oscarchavez/img/oscar.jpg">
      <br>
      <h6>My name is Oscar Chávez</h6>
      <p>I am a mexican entrepreneur, software engineer and sometimes digital artist. <%= emojify(":clap:")%></p>
      <p>I'm currently working as Sales Dept, Project Manager, Lead Web Fullstack Developer and Unity3D Developer in a VR Startup I cofounded with <a href="http://vr3.io/company">Patrick</a>. Please visit <a href="http://vr3.io">VR3.io</a> for more info. <%= emojify(":eyes:")%></p>
        <p>I also oversee the sponsorships, meetups and general management of the first Mexican Community for VR/AR Developers and Enthusiasts. Go to <a href="http://mxvr.co">MXVR</a> to learn more.  <%= emojify(":video_game:")%></p>

      <p>Here's a list of the main tools I use for work, most of them are free or have free trials <%= emojify(":tada:")%> :</p>
      <ul>
        <li><a href="http://rubyonrails.org">Ruby on Rails</a> Very complete web app framework</li>
        <li><a href="http://heroku.com">Heroku</a> Powerful platform for application hosting</li>
        <li><a href="http://angularjs.org">AngularJS</a> HTML enhanced for webapps</li>
        <li><a href="http://unity3d.com">Unity3D</a> Most popular Game Engine for VR/Ar Dev</li>
        <li><a href="http://sublimetext.com">Sublime Text</a> Greatest text editor</li>
        <li><a href="http://iterm2.com">iTerm2</a> macOS Terminal Replacement</li>
        <li><a href="http://transmit.com">Transmit</a> Great FTP Manager</li>
        <li><a href="http://postico.com">Postico</a> Very easy-to-use PostgreSQL Manager</li>
        <li><a href="http://asana.com">ASANA</a> Project Management in the Cloud</li>
        <li><a href="http://adobe.com/mx/creativecloud">Adobe Creative Cloud (Ps, Ai, Ae)</a> Creative Suite</li>

      </ul>

      <hr>

      <p>While my studies merged technology with art, I always enjoy taking deep dive into globalization, markets, politics, economy, finance and of course, computer science <%= emojify(":computer:")%>. Learning, reading and consulting the internet for very specific information is one of my greatest privileges as a modern era individual. While for me it's mostly technical books, once in a while I take delight in a great novel. <%= emojify(":grin:")%></p>
      <p>I believe in the betterment of the human race through technology and seriously consider that the roots to the best era of our times are near. <%= emojify(":space_invader:")%></p>

      <p>Hit me anytime <a href="mailto:oscarchavezromero@gmail.com">here </a>. Feel free to do it in Spanish<%= emojify(":es:")%>, English <%= emojify(":us:")%> or French <%= emojify(":fr:")%></p>

  </div>
</div>

