<% content_for :title do %>About<% end %>
<h3>About</h3>
<%= image_tag "oscar.png"%>
<br>
<p>
I'm a Fullstack Developer Jr, VR/AR Developer, and ocasionally Motion Graphics Designer.
</p>
Currently working at <%= link_to('vectorthree','http//vectorthree.com')%>, I'm based in Mexico City. 
Feel free to contact me at any time:
<br>
<ul class="list-unstyled">
  <li><%= link_to('Mail', 'mailto:oscarchavez@vectorthree.com')%></li>
  <li><%= link_to('Facebook', 'http://facebook.com/oscarchavezromero') %></li>
  <li><%= link_to('Twitter', 'http://twitter.com/ostocino') %></li>
  <li><%= link_to('Github', 'http://github.com/ostocino')%></li>
</ul>
