  <!-- Blog Entries Column -->
  <div class="col-sm-8 content">
    <ul class="nav nav-pills nav-justified">
      <li>
        <!--%= emojify(":zap:") %-->
        <%= link_to "desarrollo", posts_path(:category => "dev") %>
      </li>
      <li>
        <!--a><%= emojify(":eyes:") %> vr/ar</a-->
        <%= link_to "vr/ar", posts_path(:category => "vr-ar") %>
      </li>
      <li>
        <!--a><%= emojify(":newspaper:") %> blog</a-->
        <%= link_to "blog", posts_path(:category => "blog") %>
      </li>
      <li>
        <%= link_to "todo", root_path %>
      </li>
    </ul>

    <% if user_signed_in? %>
      <hr>
      <h5>Blog Tools</h5>
      <%= link_to("nuevo post", posts_new_path, :class => "btn btn-lg btn-info") %>
      <hr>
    <% end %>
    <!--Blog Post ERB-->
    <% @posts.order("created_at desc").each do |post| %>
      <h4><%= link_to(post.title, post) %></h4>
      <% if post.image_url? %>
        <%= link_to post do %>
          <%= image_tag post.image_url, :class => "img-rounded img-responsive" %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% if post.user_id == 1 %>
          <p> by <%= link_to userIdToUsername(post.user_id), edit_user_registration_path(post.user_id) %> | <strong><%= post.upvotes %></strong> <%= emojify(":thumbsup:") %> | <strong> <%= post.comments.count %> </strong> <%= emojify(":speech_balloon:") %> | <%= post.category %> | <small class="text-muted"> posted <%= time_ago_in_words(post.created_at) %> ago (<%= post.created_at.strftime("%b %d, %Y @ %H:%m") %>) </small></p>
        <% end %>
      <% else %>
        <p> by <strong><%= userIdToUsername(post.user_id)%></strong> | <strong><%= post.upvotes %></strong> <%= emojify(":thumbsup:") %> | <strong> <%= post.comments.count %> </strong> <%= emojify(":speech_balloon:") %> | <%= post.category %> | <small class="text-muted"> posted <%= time_ago_in_words(post.created_at) %> ago (<%= post.created_at.strftime("%b %d, %Y @ %H:%m") %>) </small></p>
      <% end %>      
      <strong><em> <%= post.excerpt %> ... </em></strong>
      <br>
      <ul class="list-unstyled">
        <li class="btn btn-primary">
          <%= emojify(":monkey:") %>
          <%= link_to "leer más", 
          post, 
          style: "color: white;"%>
        </li>

        <li class="btn btn-info">
          <%= emojify(":thumbsup:") %>
          <%= link_to "me gusta", 
          upvote_post_path(post),
          method: :put,
          style: "color: white;"%>
        </li>

        <% if user_signed_in? %>
          <% if post.user_id == 1 %>
            <li class="btn btn-warning">
              <%= emojify(":pencil2:") %>
              <%= link_to "editar", 
              edit_post_path(post),
              style: "color: white;"%>
            </li>

            <li class="btn btn-danger">
              <%= emojify(":x:") %>
              <%= link_to 'eliminar', post_path(post), 
              method: :delete, 
              data: {confirm: 'estás seguro?'}, 
              style: "color: white;" %>
          <% end %>
        <% end %>
      </ul>
      <br>
      <hr>
    <% end %>

    <% if @posts.blank? %>
      <h4><%= emojify(":cold_sweat:") %> No hay posts relacionados con el criterio de búsqueda <u><i><%= params[:search] %></i></u> <%= emojify(":astonished:") %></h4>
      <h4><%= emojify(":muscle:") %>Intenta de nuevo o <%= link_to "regresa aquí", root_path %></h4>
    <% end %>

    <!-- Pager -->
    <!--hr>
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; older</a>
      </li>
      <li class="next">
        <a href="#">newer &rarr;</a>
      </li>
    </ul-->



  </div>

   <!-- Blog Sidebar Widgets Column -->
  <div class="col-sm-4">
    <!-- Blog Search Well -->
    <div class="well">
      <h4>buscar <%= emojify(":mag:") %></h4>

      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], :class => "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "go" , class: "btn btn-default" %>
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <% end %>

    </div>

    <!-- Popular Posts Well -->
    <div class="well">
      <h4>popular <%= emojify(":star:") %></h4>
        <% @popular_posts.limit(5).each do |post| %>
          <% if post.upvotes? %>
            <%= link_to post do %>
              <p><%= post.upvotes %> <%= emojify(":thumbsup:") %> - <%= post.title %></p>
            <% end %>
          <% else %>
            <%= link_to post do %>
              <p>0 <%= emojify(":ok_hand:") %> - <%= post.title %></p>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <!-- Side Widget Well -->
    <div class="well">
      <a class="twitter-timeline" href="https://twitter.com/ostocino" data-widget-id="694431438804901888"> </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
