  <!-- Blog Entries Column -->
  <div class="col-sm-8 content">
    <ul class="nav nav-pills nav-justified">
      <li>
        <!--%= emojify(":zap:") %-->
        <%= link_to "development", posts_path(:category => "dev") %>
      </li>
      <li>
        <!--a><%= emojify(":eyes:") %> vr/ar</a-->
        <%= link_to "vr/ar", posts_path(:category => "vr-ar") %>
      </li>
      <li>
        <!--a><%= emojify(":newspaper:") %> blog</a-->
        <%= link_to "blog", posts_path(:category => "blog") %>
      </li>
      <li>
        <%= link_to "all", root_path %>
      </li>
    </ul>

    <% if user_signed_in? %>
      <hr>
      <h5>Blog Tools</h5>
      <%= link_to("new post", posts_new_path, :class => "btn btn-lg btn-info") %>
      <hr>
    <% end %>
    <br>
    <!--Blog Post ERB-->
    <% @posts.order("created_at desc").each do |post| %>
      <h4><%= link_to(post.title, post) %></h4>
      <% if post.image_url? %>
        <%= link_to post do %>
          <%= image_tag post.image_url, :class => "img-rounded img-responsive" %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% if post.user_id == 1 %>
          <p> by<%= link_to userIdToUsername(post.user_id), edit_user_registration_path(post.user_id) %> | <strong><%= post.upvotes %></strong> likes | <%= post.category %> | <small class="text-muted"> posted <%= time_ago_in_words(post.created_at) %> ago (<%= post.created_at.strftime("%b %d, %Y @ %H:%m") %>) </small></p>
        <% end %>
      <% else %>
        <p> by <strong><%= userIdToUsername(post.user_id)%></strong> | <strong><%= post.upvotes %></strong> likes | <%= post.category %> | <small class="text-muted"> posted <%= time_ago_in_words(post.created_at) %> ago (<%= post.created_at.strftime("%b %d, %Y @ %H:%m") %>) </small></p>
      <% end %>      
      <strong><em> <%= post.excerpt %> ... </em></strong>
      <br>
      <ul class="list-unstyled">
        <li class="btn btn-primary">
          <%= emojify(":monkey:") %>
          <%= link_to "read more", 
          post, 
          style: "color: white;"%>
        </li>

        <li class="btn btn-info">
          <%= emojify(":thumbsup:") %>
          <%= link_to "like", 
          upvote_post_path(post),
          method: :put,
          style: "color: white;"%>
        </li>

        <% if user_signed_in? %>
          <% if post.user_id == 1 %>
            <li class="btn btn-warning">
              <%= emojify(":pencil2:") %>
              <%= link_to "edit", 
              edit_post_path(post),
              style: "color: white;"%>
            </li>

            <li class="btn btn-danger">
              <%= emojify(":x:") %>
              <%= link_to 'delete', post_path(post), 
              method: :delete, 
              data: {confirm: 'are you sure?'}, 
              style: "color: white;" %>
          <% end %>
        <% end %>
      </ul>
      <hr>
    <% end %>

    <!-- Pager -->
    <!--hr>
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; older</a>
      </li>
      <li class="next">
        <a href="#">newer &rarr;</a>
      </li>
    </ul-->
  </div>

   <!-- Blog Sidebar Widgets Column -->
  <div class="col-sm-4">
    <!-- Blog Search Well -->
    <div class="well">
      <h4>search <%= emojify(":mag:") %></h4>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <!-- /.input-group -->
    </div>

    <!-- Popular Posts Well -->
    <div class="well">
      <h4>popular <%= emojify(":star:") %></h4>
      <div class="row">
        <div class="col-md-6">
        <% @altPosts.order("upvotes desc").limit(3).each do |post| %>
          <%= link_to post do %>
            <p><%= post.upvotes %> <%= emojify(":thumbsup:") %> - <%= post.title %></p>
          <% end %>
        <% end %>

        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
      <a class="twitter-timeline" href="https://twitter.com/ostocino" data-widget-id="694431438804901888"> </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
