<head>

<% set_meta_tags title: @post.title,
                 description: @post.excerpt,
                 keywords: @post.keywords,
                 og: {
                    title: @post.title,
                    type: 'website',
                    url: @post.post_url,
                    image: @post.image_url,
                  },
                  twitter: {
                    card: 'summary_large_image',
                    site: '@ostocino',
                    creator: @user.username,
                    title: @post.title,
                    description: @post.excerpt,
                    image: @post.image_url
                  } %>
</head>
<div class="row">
  <div class="col-md-12">
      <!--Image-->
      <!--img class="img-responsive center" src="{{post.image_url}}" alt=""-->
      <%= emojify(":point_left:")%> <%= link_to("regresar", root_path) %>

      <% if @post.image_url? %>
        <%= image_tag @post.image_url, :class => "img-rounded img-responsive" %>
      <% end %>
      
      <h3><%= @post.title %></h3>
      <p>por <%=link_to @user.username, edit_user_registration_path(@user) %> | <strong><%= @post.upvotes %></strong> <%= emojify(":thumbsup:") %> | <strong> <%= @post.comments.count %> </strong> <%= emojify(":speech_balloon:") %> | <%= @post.category %> | <small class="text-muted">posted <%= time_ago_in_words(@post.created_at) %> ago (<%= @post.created_at.strftime("%b %d, %Y @ %H:%m") %>)</small></p>
      <hr>
      <div>
        <%= markdown(@post.body) %>
      </div>
      <hr>

      <ul class="list-unstyled">

        <li class="btn btn-info">
          <%= emojify(":thumbsup:") %>
          <%= link_to "me gusta", 
          upvote_post_path(@post),
          method: :put,
          style: "color: white;"%>
        </li>

        <% if user_signed_in? %>
          <% if @post.user_id == 1 %>
            <li class="btn btn-warning">
              <%= emojify(":pencil2:") %>
              <%= link_to "editar", 
              edit_post_path(@post),
              style: "color: white;"%>
            </li>

            <li class="btn btn-danger">
              <%= emojify(":x:") %>
              <%= link_to 'eliminar', post_path(@post), 
              method: :delete, 
              data: {confirm: 'estás seguro?'}, 
              style: "color: white;" %>
            </li>
          <% end %>
        <% end %>
      </ul>  
      <hr>

      <h3>comentarios</h3>

      <% if @comments.length > 0 %>
        <% @comments.order("upvotes desc").each do |comment| %>
          <p>
            <% if user_signed_in? %>
              <% if @post.user_id == 1 %>
                <strong><%= link_to userIdToUsername(comment.user_id), edit_user_registration_path(comment.user_id) %></strong>:
              <% end %>
            <% else %>
              <strong><%= userIdToUsername(comment.user_id) %></strong>:
            <% end %> 
            
            <i><%= comment.body %></i>
            | <%= comment.upvotes %>
            <%= emojify(":thumbsup:")%>
            <%= link_to("me gusta", upvote_post_comment_path(@post.id, comment.id), :class => "btn-primary btn-sm", :method => :put)%>
            <% if user_signed_in? %>
              <% if comment.user_id == current_user.id %>
                <%= link_to("eliminar", post_comment_path(@post.id, comment.id), :class => "btn-danger btn-sm", :method => :delete)%>
              <% end %>
            <% end %>
          </p>
        <% end %>
      <% else %>  
        <p>no hay comentarios. Sé el primero ! <%= emojify(":star:") %></p>
      <% end %>

          <!--span style="font-size:20px;"><a href="{{post.user.username}}">{{comment.user.username}}</a> :</span>

          <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>

          <a ng-click="incrementUpvotes(comment)" class="text-info"> {{comment.upvotes}} &nbsp;&nbsp;</a>

          <a ng-click="deleteComment(comment)" class="text-danger"> Delete&nbsp;&nbsp;</a>

          <a ng-click="replyComment(comment)" class="text-primary"> Reply&nbsp;&nbsp; </a-->
        <!--form style="margin-top:20px;"-->
        <%= form_for [@post, @comment] do |f| %>
          <h5>comenta aqui <%= emojify(":point_down:") %></h5>
          <div class="form-group">
            <%= f.text_area :body, :name => "body" , rows: "8" , class: "form-control" %>
          </div>
          <%= f.submit "send", :class => "btn btn-lg btn-primary" %>
        <% end %>
      <br>
  </div>
</div>

