<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>oscarchavez | RoR, Unity3D, VR, AR, Bitcoin, Startups, Personal Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= csrf_meta_tags %>

    <link rel="canonical" href="http://www.oscarchavez.me">
    <meta name="description" content="a (personal) blog about fullstack webdev, vr/ar development, entrepreneurshit and travelling. ">
    <meta name="keywords" content="RoR, Unity3D, VR, AR, Bitcoin, Startups">
  </head>
  <body>
  <style>
    img {
      max-width: 100% !important;
      border-radius: 10px !important;
    } 
  </style>
    <%= render partial: "partials/header" %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 home">
          <%= render partial: "partials/messages" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: "partials/footer" %>
  </body>
</html>