<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    
    <%= display_meta_tags separator: "&#124".html_safe, 
                          title: 'Inicio',
                          site: 'oscarchavez.me',
                          description: 'un blog personal de desarrollo web, VR/AR, emprendimiento, viajes y demás encuentros.',
                          keywords: 'RoR, Unity3D, VR, AR, Bitcoin, Startups',
                          og: {
                            title: 'oscarchavez.me',
                            type: 'website',
                            url: 'http://www.oscarchavez.me',
                            image: 'http://www.vectorthree.com/ocr/oscarchavez/img/oscar.jpg',
                            },
                          twitter: {
                            card: 'summary',
                            site: '@ostocino',
                            title: 'oscarchavez.me',
                            description: 'un blog personal de desarrollo web, VR/AR, emprendimiento, viajes y demás encuentros.',
                            image: 'http://www.vectorthree.com/ocr/oscarchavez/img/oscar.jpg'
                            } %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= csrf_meta_tags %>


  </head>
  <body>
  <style>
    img {
      max-width: 100% !important;
      border-radius: 10px !important;
    } 
  </style>
    <%= render partial: "partials/header" %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 home">
          <%= render partial: "partials/messages" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: "partials/footer" %>
  </body>
</html>